<header class="main-header">
  <div class="logo">
    <a href="index.html">
      <img src="img/logo.png" alt="SpaceX" />
    </a>
  </div>
  <nav class="desktop-main-menu">
    <ul>
      <li><a href="falcon9.html">Falcon 9</a></li>
      <li><a href="falcon-heavy.html">Falcon Heavy</a></li>
      <li><a href="dragon.html">Dragon</a></li>
    </ul>
  </nav>
</header>

<button id="menu-btn" class="hamburger" type="button">
  <span class="hamburger-top"></span>
  <span class="hamburger-middle"></span>
  <span class="hamburger-bottom"></span>
</button>