<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/script.js" defer></script>
    <title>SpaceX - Dragon</title>
  </head>
  <body>
    <%- include('../partials/header'); %>
    

    <section class="section-animate bg-dragon"></section>
    <div class="section-inner-center">
      <h3>Dragon</h3>
      <p>Sending humans and cargo into space</p>
    </div>

    <div class="stats">
      <div>
        <span class="counter" data-target="34">0</span>
        <h4>Total Launches</h4>
      </div>
      <div>
        <span class="counter" data-target="31">0</span>
        <h4>Visits to the ISS</h4>
      </div>
      <div>
        <span class="counter" data-target="13">0</span>
        <h4>Reflow Missions</h4>
      </div>
    </div>

    
  </body>
</html>
