<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="js/script.js" defer></script>
    <title>SpaceX - Falcon Heavy</title>
  </head>
  <body>
    <%- include('../partials/header'); %>
    

    <section class="section-animate bg-falcon-heavy"></section>
    <div class="section-inner-center">
      <h3>Falcon Heavy</h3>
      <p>The world's most powerful rocket</p>
    </div>

    <div class="stats">
      <div>
        <span class="counter" data-target="3">0</span>
        <h4>Total Launches</h4>
      </div>
      <div>
        <span class="counter" data-target="7">0</span>
        <h4>Total Landings</h4>
      </div>
      <div>
        <span class="counter" data-target="4">0</span>
        <h4>Total Reflights</h4>
      </div>
    </div>

    
  </body>
</html>
