<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upcoming Flights</title>
  <link rel="stylesheet" href="../../css/style.css">
  <script src="../../js/script.js" defer></script>
  <script src="../../js/top-flights.js" defer></script>
</head>


<!-- Section A -->
<section class="section-a">
  <div class="section-inner">
    
    <h2>FALCON 9</h2>
    <a href="falcon9.html" class="btn">
      <div class="hover"></div>
      <span>View more</span>
    </a>
  </div>

  <div class="scroll-arrow">
    <svg width="30px" height="20px">
      <path
        stroke="#ffffff"
        fill="none"
        stroke-width="2px"
        d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
      ></path>
    </svg>
  </div>
</section>


<!-- Upcoming Flights Section -->
<section class="section-a upcoming-flights-section">
  <div class="section-inner">
    <h4>Top 3 Upcoming Flights</h4>
    <h2>Don’t Miss the Action</h2>
    <div id="top-flights-container">
      <!-- Dynamic flight cards will be injected here -->
    </div>
    <a href="upcoming-flights.html" class="btn view-more-button">
      <div class="hover"></div>
      <span>View All Flights</span>
    </a>
  </div>
</section> 
<script src="js/top-flights.js" defer></script>

<!-- Section B -->
<section class="section-b">
  <div class="section-inner">
    
    <h2>Falcon Heavy</h2>
    <a href="falcon-heavy.html" class="btn">
      <div class="hover"></div>
      <span>View more</span>
    </a>
  </div>

  <div class="scroll-arrow">
    <svg width="30px" height="20px">
      <path
        stroke="#ffffff"
        fill="none"
        stroke-width="2px"
        d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
      ></path>
    </svg>
  </div>
</section>

<!-- Section C -->
<section class="section-c">
  <div class="section-inner">
    <h4>A new way</h4>
    <h2>DRAGON SPACE SHIP</h2>
    <a href="dragon.html" class="btn">
      <div class="hover"></div>
      <span>View more</span>
    </a>
  </div>

  <div class="scroll-arrow">
    <svg width="30px" height="20px">
      <path
        stroke="#ffffff"
        fill="none"
        stroke-width="2px"
        d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
      ></path>
    </svg>
  </div>
</section>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
